<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duckduckgo.mobile.android"
    android:versionCode="2"
    android:versionName="2.0.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:theme="@style/DDGTheme"
        android:label="@string/AppName"
        android:name="DDGApplication">
        <activity
            android:name=".activity.DuckDuckGo"
            android:label="@string/AppName"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".DuckDuckGoWidgetProvider">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		        	   android:resource="@xml/widget_info" />
		</receiver>
		
        <activity 
            android:name=".activity.Preferences" 
            android:label="@string/SettingsButtonContentDescription" />
        
        <activity 
            android:name=".activity.SourcePreferences" 
            android:label="@string/PrefSources" />
        
        <activity android:name="org.acra.CrashReportDialog"
	        android:theme="@android:style/Theme.Dialog"
	        android:launchMode="singleInstance"
	        android:excludeFromRecents="true"
	        android:finishOnTaskLaunch="true" />
        
		<provider android:name=".providers.DuckDuckGoProvider"
				android:authorities="com.duckduckgo.mobile.android.providers.DuckDuckGoProvider" />
        
        
    </application>

</manifest>
