# Verification and Validation

##Intoduction:


##Software Testability and Reviews:


##Test Statistics and analytics:



##Bug Report:


##Contributions:
Filipe Coelho ( @Fr0sk ) has contributed in:

Luís Cruz ( @Luis-bcruz ) has contributed in:

Shivam Agrawal ( @shivam-agr ) has contributed in:

Vinicius Ferretti ( @ViniciusFerretti ) has contributed in:
